<form [formGroup]="movieForm" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="center center">
  <mat-form-field appearance="fill">
    <mat-label>Movie ID</mat-label>
    <input matInput formControlName="id" readonly>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Movie Name</mat-label>
    <input matInput formControlName="name">
    <mat-error *ngIf="movieForm.controls['name'].valid">Name is required</mat-error>
  </mat-form-field>

  <!--<div class="row">
    <label>Фото</label>
    <input type="file" id="photo" accept="image/png, image/gif, image/jpeg" formControlName="photo" (change)="onFileChange($event)">
  </div>-->

  <!--<mat-form-field appearance="fill">
    <mat-label>Movie Photo</mat-label>
    <input matInput type="file" formControlName="photo">
    <mat-error *ngIf="movieForm.controls.photo.hasError('required')">
      Photo is required
    </mat-error>
  </mat-form-field>-->

  <mat-form-field appearance="fill" fxFlex>
    <mat-label>Year of Release</mat-label>
    <input matInput formControlName="year_of_release">
    <mat-error *ngIf="movieForm.controls['year_of_release'].valid">Year of Release is required</mat-error>
    <mat-error *ngIf="movieForm.controls['year_of_release'].valid">Invalid Year of Release</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Box Office</mat-label>
    <input type="number" matInput formControlName="box_office">
    <mat-error *ngIf="movieForm.controls['box_office'].valid">Box Office is required</mat-error>
  </mat-form-field>

  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="center center" fxFlex.gt-md="50" fxFlex="100">
      <button class="btn btn-success" type="submit" [disabled]="!movieForm.valid">Save</button>
    </div>
  </div>
</form>
