<div class="container" [ngClass]="{'dark-mode': darkMode}">
  <div class="row">
    <div class="col-md-3 float-start">
      <button (click)="toggleDarkMode()" class="btn btn-primary mb-3">{{ darkMode ? 'Light Mode' : 'Dark Mode' }}</button>
    </div>
    <div class="col-md-3">
      <a routerLink="/" class="btn btn-primary" routerLinkActive="active">Movies</a>
    </div>
    <div class="col-md-3">
      <a routerLink="create" class="btn btn-primary" routerLinkActive="active">Create movie</a>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
